################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XLDeployReleaseTask/ps_modules/VstsTaskSdk/VstsTaskSdk.psm1
